.env
__pycache__
.vscode/
data/images/images
data/questions
data/Images/images/
data/questions
data/gqa_flattened.json
data/misc/
data/train/
data/Images
.conda/
dandelin
gqa_flattened.json
data/gqa_flat_train.json
data/gqa_flat_test.json
data/gqa_small_train.json
data/images
data/gqa_flat_val.json
saved_models/vilt-small/
saved_models/
tmp/
vqa-gpu-env/
vqa-env/
logs/